/* #defaultModal
{
    background-color: red;
    border: 5px solid rgb(50, 185, 174);
    
} */
/* .main_modal_login{  
   border: 5px solid rgb(255, 13, 13);
} */

/* .domain
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%); 
} */

/* .login_page_modal {
  display: flex;
  justify-content: center;
} */

/* .main_container {
  background-color: rgb(245, 249, 249);
  margin-top: 20px;
  font-size: large;
  padding: 40px;
  box-shadow: rgba(21, 1, 1, 0.2)0px 20px 18px 10px;
  border-radius: 10px;
  position: relative;
} */

/* .name_field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .create_account_line {
  font-size: 30px;
  font-weight: 700;
} */

/* .login_input_field {
  margin-top: 18px;
} */

/* input {
  margin: 11px 0 11px 0;
  height: 23px;
  padding-left: 10px;
} */

/* .inputbox {
  width: 96%;
} */

/* .name {
  width: 44%;
} */

/* .check_box {

  margin-bottom: 0;
  padding: 0;
  display: flex;
} */

/* .term {
  padding-top: 11px;
  margin-left: 10px;
  font-size: 15px;
} */

/* button {
  width: 100%;
  color: white;
  background-color: rgb(56, 207, 56);
  margin: 10px 0 10px;
  padding: 10px;
  border-radius: 7px;
} */

/* .new_login_link {
  text-align: center;
} */

/* button:active {
  background-color: green;
  box-shadow: rgba(7, 1, 1, 0.3)0px 5px 9px 0px;

} */

/* .close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
} */