


.register_top 
{
    height: 93vh;
    /* width: 100%;  */
 /* background-image: url("/src/images/background.jpg");  */
 background-image: linear-gradient(90deg, #66a0cf , #176694);
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
.register_left
{
    background-image: linear-gradient(180deg, #d4e2f1 , #4f9de6);
}

.line1
{
    width: 500px;
    /* height: 50px; */
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-image: linear-gradient(270deg,#3b7aa5 , #083553);
    border: 2px white solid;
    color: white;
   
}
.button_register
{
    width: 160px;
  
}

.button_register:hover{

}
.login_user_relative
{
    position: relative;
    cursor: pointer;
   
}
.login_icon
{
    position: absolute;
    top: 25px;
    right: 10px;
    color: white;
    font-size: 30px;
}
.girl_picture
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 600px;
    z-index: 1;
}
/* .register_main {
    width: 30%;
    min-width: 400px;
    height: 80vh;
    background-color: bisque;
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .register_left {
    width: 100%;
    background-image: url("/src/images/sky.avif");
    background-color: rgba(0, 0, 0, 0.61);

    backdrop-filter: blur(5px);
    height: 100%;

    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
} */

/* .blury {
    height: 100%;
    width: 100%;
    background-color: rgb(32, 45, 129);
    position: absolute;
    opacity: 0.1;
    z-index: 40;
    border-radius: 20px 0px 0px 20px;
} */

/* .new_user_text {
    color: white;
    z-index: 99;
    margin-top: 10px;
} */

/* .button_register {
    margin-top: 20px;
    z-index: 99;
} */

/* .user_icon {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: 5px solid rgb(200, 209, 220);
    z-index: 100;
} */

/* .form {
    z-index: 500;
} */

/* .shadow-text {
    text-shadow: 4px 2px 3px #a4abc3;
} */

/* .register_right {
    width: 50%;
    height: 30vh;
} */