.slid_main {
  width: 100%;
  height: 90vh;
  background-color: rgb(238, 243, 243);
  display: flex;
 }

.slid_left {
  width: 50%;
  /* background-color: aquamarine; */
  height: inherit;
  display: flex;
  justify-content: right;
  align-items: center;
}
.slid_left_box {
  /* background-color: red; */
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
}
.what_you_will_get {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.slid_heading {
  font-size: 56px;
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}
.line {
  height: 3px;
  width: 200px;
  background-color: rgb(25, 143, 108);
  margin-top: 20px;
}
.slid_description {
  max-width: 700px;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-top: 30px;
  text-align: left;
}
.slid_button {
  background-color: rgb(80, 161, 80);
  width: fit-content;
  padding: 10px 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  margin-top: 30px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slid_button:hover {
  background-color: rgb(4, 87, 4);
}
.slid_right {
  width: 50%;
  /* background-color: rgb(155, 80, 109); */
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test11 {
  height: 600px;
}

@media screen and (max-width: 768px) {
  .slid_right {
    display: none;
  }
  .slid_main {
    width: 100%;
    height: 70vh;
    background-color: rgb(238, 243, 243);
    display: block;
    margin-right: 700px;
  }
  .slid_left {
    width:100%;
    /* background-color: aquamarine; */
    height: inherit;
    justify-content: start;
    align-items: center;
  }
 
  .slid_left_box {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 80px;
  }
  .what_you_will_get {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    /* background-color: red; */
    margin-left: -30px;
  }
  .slid_heading {
    font-size: 32px;
    font-family: "Heebo", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    /* margin-left: -30px; */
    text-align: start;
  }
  .line {
    height: 3px;
    width: 150px;
    background-color: rgb(25, 143, 108);
    margin-top: 20px;
  }
  .slid_description {
    max-width: 250px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-top: 30px;
    text-align: left;
  }
}
