.testPreparation_main
{
    width: 100%;
    height: 90vh;
    background-color: rgb(222, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.testPreparation_left
{
width: 50%;
/* background-color: aquamarine; */
height: inherit;
display: flex;
justify-content: start;
align-items: center;
/* border: 2px solid; */
}
.testPreparation_left_box
{
    /* background-color: red; */
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    
}
.testPreparation_what_you_will_get
{
font-size: 24px;
font-family: 'Raleway', sans-serif;
font-weight: 700;
}

.testPreparation_heading
{
    font-size: 44px;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
}
.testPreparation_description
{
max-width: 700px;
font-size: 22px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
margin-top: 30px;
text-align: left;

}
.testPreparation_button
{

    background-color: rgb(238, 71, 59);
    width: fit-content;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.testPreparation_button:hover{
    background-color: rgb(4, 87, 4);
}
.testPreparation_right
{
    width: 50%;
    /* background-color: rgb(155, 80, 109); */
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.test__praparation_img
{
    height: 500px;
}

@media screen and (max-width: 768px) {
    .testPreparation_main
{
    width: 100%;
    height: fit-content;
    background-color: rgb(222, 241, 241);
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.testPreparation_right
{
    width: 100%;
    height: 500px;
    /* background-color: rgb(155, 80, 109); */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.test__praparation_img
{
    height: 300px;
}
.testPreparation_left
{
width: 100%;
/* background-color: aquamarine; */
height: auto;
display: flex;
justify-content: start;
align-items: center;
padding: 30px;

}
.testPreparation_left_box
{
    /* background-color: red; */
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    
}
.testPreparation_what_you_will_get
{
font-size: 18px;
font-family: 'Raleway', sans-serif;
font-weight: 700;
}

.testPreparation_heading
{
    font-size: 32px;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
}
.testPreparation_description
{
max-width: 700px;
font-size: 22px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
margin-top: 30px;
text-align: left;

}
}