@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@400;600;700;800;900&display=swap');

.logo
{
 max-width: 100px !important;

}
.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;  
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  background-color: rgb(202, 211, 234);
}
.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 3rem;
}

.n-name {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
}
.n-right {
  display: flex;
  flex: 1;
  align-items: start;
  justify-content: center;
  font-weight: 400;
  margin-top: -20px;
 
}
.n-right > ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.n-list {
  flex: 10;
  margin-left: 45px;
}
.n-list > ul {
  display: flex;
  
}
.n-list > ul > li {
   margin-right: 3rem;
  font-family: 'Poppins';
  font-size: 20px;
  width: fit-content;
}
.n-list > ul > li:hover {
  cursor: pointer;
}

.n-list ul li::before {
 content: "";
 width: 0px;
 height: 3px;
 background-color: red;
 position: absolute;
 top: 55px;
 transition: all 0.3s linear;
 
}
.n-list ul li:hover:before {
     width:50px;
  }

  .n-middle {
  font-size: 24px;
}

.n-button {
  border: none;
  border-radius: 4px;
  color: #fff;  
  background-color: #ff5252;
  padding: 10px 25px 10px 25px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 20px;
}

.n-right a {
  color: rgb(36, 18, 194);
  font-size: 18px;
  text-decoration: none;
  font-family: 'Poppins';
}

.link
{
  text-decoration: none;
}