.floating_navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(225, 230, 232);    
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.time_remaining
{
    display: flex;
}
.time
{
    display: flex;
}

.hour
{
    height: 30px;
    width: 35px;
    background-color: rgb(188, 35, 111);
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    font-size: 22px;  
      
}
.minut
{
    height: 30px;
    width: 35px;
    background-color: rgb(188, 35, 111);
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    font-size: 22px;  
}
.second
{
    height: 30px;
    width: 35px;
    background-color: rgb(188, 35, 111);
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    font-size: 22px;  
}

.colon
{
    margin-left: 10px;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    transform: scale(1.5);
}

.test_name
{
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
}
.main_test
{
    display: flex;
    margin-bottom: 150px;
}
.test_left
{
    width: 70%;
    /* background-color: green; */
    }



.question_no
{
    height: 50px;
    background-color: rgb(156, 190, 200);
    justify-content: start;
    padding-left: 30px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    
}
.question
{
    padding: 30px;
    border-bottom: 2px dashed gray;
    /* font-weight: 600; */
}

.options
{
    margin: 30px 0px 0px 50px;
}
.option
{
margin-top: 30px;
background-color: rgb(217, 218, 222);
width: 90%;
padding: 10px;
cursor: pointer;
border-radius: 10px;
padding-left: 20px;
font-weight: 600;
}
.option:hover{
    background-color: gray;
    color: white;
}

.bottom_buttons
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 70px;
    background-color: rgb(225, 230, 232);    
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.test_file_right
{
    width: 30%;
    height: 90vh;
    border: 0.5px solid lightgray;
}
.color_code
{
    height: 160px;
    background-color: rgb(249, 246, 246);
    margin: auto;
    border-bottom: 3px solid lightcoral;  
}
.color_code_text
{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}

.square_1
{
    height: 30px;
    width: 30px;
    border-radius: 7px;
    background-color: green;
    color: white;
}
.square_2
{
    height: 30px;
    width: 30px;
    border-radius: 7px;
    background-color: blueviolet;
    color: white;
}
.square_3
{
    height: 30px;
    width: 30px;
    border-radius: 7px;
    border: 2px solid black;
}
.square_4
{
    height: 30px;
    width: 30px;
   background-color: red;
    border-radius: 7px;
   color: white;
}
.square_5
{
    height: 30px;
    width: 30px;
   background-color: rgb(37, 47, 184);
    border-radius: 7px;
    color: white;
}

/* .color_code_items
{
    display: flex;
    justify-content: start;
    background-color: aqua;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
} */
.color_code_item
{
  /* margin-left: 20px; */
}
.question_analyser_item
{
    height: 40px;
    min-width: 50px;
    border-radius: 7px;
    border: 2px solid lightgray;
    color: rgb(1, 0, 0);
    font-weight: 700;
    cursor: pointer;
}
.question_analyser
{
    
display: flex;
gap: 10px;
flex-wrap: wrap;
padding: 30px;
/* border-left: 3px solid lightcoral; */
}

.option.clicked {
    background-color: rgb(72, 72, 73); 
color: white;  
}
.question_analyser_item.clicked{
    background-color: rgb(37, 47, 184);
    color: white;
}

.green 
{
    background-color: green;
    color: white;
}
.red 
{
    background-color: red;
    color: white;
}

.brown
{
    background-color: blueviolet;
    color: white;
}

.submit_test
{
    background-color: rgb(3, 118, 185);
    width: 30%;
   position: fixed;
   bottom: 0;
   right: 0;
   height: 70px;
  cursor: pointer;
   
}
.submit_text_test
{
width: fit-content;
margin-left: 35%;
margin-top: 15px;
font-size: 28px;
   color: white;

    
   
}